body {
    background-image: url("../images/starwarsbg.png");
    color: black;
}

h1 {
    font-weight: bold;
    font-size: 48px;
    text-shadow: 4px 4px 4px #aaa;
}

.icon {
    text-align: center;
    margin: 15px;
    background-color: green;
    border: 5px solid black;
    color: white;
}

.icon:hover {
    background-color: red;
}

.title {
    position: fixed;
    bottom: 0px;
    right: 50px;
    font-size: 50px;
}